/* COMMON COLOR #bfbfbf*/
/* ion-icon cannot access the asset out of src directory*/
.vector-map {
    content: url("../assets/icons/vector_map.svg");
}

.question-icon {
    content: url("../assets/icons/question_icon.svg");
}

.demo-raster-map-icon {
    content: url("../assets/rasterMenu/demo_raster_map_icon.png");
}
