/* COMMON COLOR #bfbfbf*/
/* ion-icon cannot access the asset out of src directory*/
.vectorMap {
    content: url("../assets/icons/vector_map.svg");
}

.questionIcon {
    content: url("../assets/icons/question_icon.svg");
}

.demo_raster_map_icon {
    content: url("../assets/rasterMenu/demo_raster_map_icon.png");
    font-size: 120px;
}
