.round-button {
    &::part(native) {
        padding: 0;
    }
    ion-icon {
        color: var(--ion-color-dark);
    }
    svg {
        fill: var(--ion-color-dark);
    }
    --background: var(--ion-color-light);
    --border-radius: 20px;
    height: 40px;
    width: 40px;
}

.toolbar-top {
    top: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    height: auto;
    width: 100%;
}
