.round-button {
    &::part(native) {
        padding: 0;
    }
    ion-icon {
        color: var(--ion-color-dark);
        font-size: 24px;
    }
    svg {
        fill: var(--ion-color-dark);
    }
    --background: var(--ion-color-light);
    --border-radius: 20px;
    height: 40px;
    width: 40px;
}

.toolbar-top {
  top: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  height: auto;
  width: 100%;
}

.toolbar-bottom {
  ion-fab-list {
    ion-fab-button {
      ion-icon {
        font-size: 30px;
      }
    }
  }
}

.test {
  ion-icon {
    color: white
  }
}
