.open-about-page-button {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  opacity: 0.85;
}

.raster-legend {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

//.fade-enter-done {
//opacity: 0.1;
//}
