ion-checkbox.single-setting-option {
    margin-right: 0.75rem;
}

ion-list {
    overflow-y: auto;
}

/* The animation code */
@keyframes highlight {
    0%  {outline-color: rgba(0, 0, 0, 0);}
    50%  {outline-color: var(--ion-color-primary);}
    100% {outline-color: rgba(0, 0, 0, 0);}
}

/* The element to apply the animation to */
.highlight {
    animation-name: highlight;
    animation-delay: 600ms;
    animation-duration: 300ms;
    animation-iteration-count: 2;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.animation-settings {
    $min-col-width: calc(100vw - 10px);
    outline: solid 3px rgba(0, 0, 0, 0);
    outline-offset: -3px;
    border-radius: 16px;

    ion-col {
        min-width: min(240px, $min-col-width);
        width: 100% !important;
    }
    ion-input {
        input {
            padding-right: 8px !important;
        }
        text-align: right;
    }
    ion-item::part(native) {
        padding-left: 8px;
    }
    .increment-col {
        min-width: min(320px, $min-col-width);
    }
    .reverse-col {
        ion-button {
            font-size: 14px;
            text-transform: revert;
        }
        .description {
            padding: 8px;
        }
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        min-width: min(512px, $min-col-width);
    }
}
