.locate-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  margin-top: -8px; /* Half the height */
  margin-left: -8px; /* Half the width */
  color: black;

  &.hide {
    display: none;
  }
}

.add-locate-widget {
  position: absolute;
  margin: auto;
  /*left: 0;*/
  right: 0;
  text-align: center;
  bottom: 0;
  /*width: 600px;*/
  /*background-color: pink;*/

  &.hide {
    /*display: none;*/
    transform: translateY(1000px);
    transition: transform 1s;
  }

  &.show {
    /*display: none;*/
    transform: translateY(0);
    transition: transform 0.5s;
  }
}
.close-button {
  position: absolute;
  right: 0;
  top: 5px;
}
