$transition: all 150ms;

@media screen and (max-width: 396px) {
  .hidden {
    transform: translateY(-154px);
  }
}

@media screen and (min-width: 396px) and (max-width: 796px) {
  .hidden {
    transform: translateY(-106px);
  }
}

@media screen and (min-width: 796px) {
  .hidden {
    transform: translateY(-58px);
  }
}

.buttons {
  margin: 8px;
}

.container {
  ion-item {
    &::part(native) {
      height: 100%;
    }
    flex-grow: 1;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: $transition;
}

.seek-buttons {
  > div {
    margin-left: auto;
  }
  ion-button {
    &::part(native) {
      padding: 0;
    }
    height: 40px;
    width: 40px;
  }
  ion-icon {
    font-size: 24px;
  }
  --padding-start: 4px;
  --inner-padding-end: 4px;
}

.container .slider {
  ion-button {
    &::part(native) {
      padding: 0;
    }
    height: 40px;
    width: 40px;
  }
  --padding-start: 8px;
  --inner-padding-end: 8px;
  flex-grow: 100;
  width: min(100vw, 400px);
}

.time {
  align-items: center;
  color: white;
  display: flex;
  font-size: 20px;
  padding: 8px;
  text-shadow: 1px 1px 8px #000000, 1px 1px 8px #000000, 1px 1px 8px #000000;
}

.time-input {
  ion-input {
    input {
      padding-right: 8px !important;
    }
    text-align: right;
  }
  --padding-start: 16px;
  --inner-padding-end: 8px;
  min-height: 48px;
  width: 168px;
}
