.raster_menu_scroll {
  text-align: center;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  position: absolute;
  bottom: 5rem;
  width: 100%;
  height: auto;

  background: rgba(0, 0, 0, 0.5);

  ion-icon {
    margin-top: 1rem
  }

  ion-card {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0;
    margin-bottom: 0;
  }
}


.selected_opt {
  background-color: #428cff;
  height: 0.5rem;
  width: 100%
}

.unselected_opt {
  height: 0.5rem;
  width: 100%
}