.raster-menu-scroll {
  text-align: center;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  position: absolute;
  bottom: 5rem;
  width: 100%;
  height: auto;

  background: rgba(0, 0, 0, 0.5);

  ion-icon {
    margin-top: 1rem;
    font-size: 120px;
  }

  ion-card {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0;
    margin-bottom: 0;
  }
}

.selected-opt {
  div {
    background-color: #428cff;
    height: 0.5rem;
    width: 100%
  }

  ion-card-title {
    color: #428cff
  }
}

.unselected-opt {
  div {
    height: 0.5rem;
    width: 100%
  }
}

.raster-menu-backdrop {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100vh;
}

.raster-menu-loading {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: #0d0d0d;
  opacity: 0.5;
  z-index: 9999;
  child-align: middle;

  p {
    display: block;
    margin: auto;
    text-align: center;
    width: 50%;
    padding: 40vh 0;
    font-size: 2rem;
  }
}

.agegrid-icon {
  content: url("../assets/rasterMenu/agegrid-256x256.png");
}

.geology-icon {
  content: url("../assets/rasterMenu/geology-256x256.png");
}

.topography-icon {
  content: url("../assets/rasterMenu/topography-256x256.png");
}